<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DA_PhatTrienPhanMem_BLL_DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DA_PhatTrienPhanMem_BLL_DAL.Properties.Settings.QL_LINHKIENConnectionString"
            connectionString="Data Source=DESKTOP-8KFDESH\SQLEXPRESS;Initial Catalog=QL_LINHKIEN;User ID=sa;Password=098989"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <DA_PhatTrienPhanMem_BLL_DAL.Properties.Settings>
            <setting name="LTWNCConn" serializeAs="String">
                <value>Data Source=DESKTOP-8KFDESH\SQLEXPRESS;Initial Catalog=QL_LINHKIEN;User ID=sa;Password=098989</value>
            </setting>
        </DA_PhatTrienPhanMem_BLL_DAL.Properties.Settings>
    </userSettings>
</configuration>