<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="desktop-8kfdesh\sqlexpress.QL_LINHKIEN.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-8KFDESH\SQLEXPRESS;user id=sa;password=098989;initial catalog=QL_LINHKIEN;Persist Security Info=true" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
